* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* shared styles */

.btn-prim{
    border: 0px;
    color: aliceblue;
    background-color: orangered;
    padding:  10px 20px;
    border-radius: 5px;

}

/* header styles */


.banner-container{
    background-image: url('./images/banner/banner1.png');
    height: 700px;
    width: auto;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;

    
}  


.banner-description{
    text-align: end;
    width: 500px;
    height: 300px;
    margin: 150px;
    padding-bottom: 50px;
    

}

.banner-description{
    
    
}

.banner-title{
    font-size:65px;
    padding: 20px 0px;
}

.banner-info{
    font-size: larger ;
    padding: 20px 0px;
}


/* main section styles */

.failure-section{
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 130px;
    margin: 130px 0;
}

.failure-info{
    max-width: 500px;

}

.failure-title {
    font-size: 65px;
    margin-top: 5px;
    margin-bottom: 20px;

}

.failure-description {
    font-size: 20px;
    padding-bottom: 20px;

}

ul{
    font-size: 20px;
    list-style: none;
}
ul li{
    padding: 5px;
}

ul li:before {
    content: '✓ ';
  }



  /* random style */
.random{
    width: 80%;
    height: 270px;
    background-color: brown;
    margin: 100px auto;
    background-image: url('./images/watch.png'), url('./images/gradient3.png');
    background-blend-mode: overlay;
    background-position: center ,center;
    background-repeat: no-repeat ,no-repeat;
    background-size: cover, cover;
    border-radius: 10px;

}
.r1{
    padding: 60px;
    
}
.h{
    font-size: 30px;
    padding-bottom: 40px;
}

.b{
    border: 0px;
    padding: 12px 25px ;
    border-radius: 5px;
    font-size: 20px;
    background-color: yellow;

}

